body { font-family: "Helvetica Neue", Arial, Helvetica, sans-serif; font-size: 16px; color: #999;}
div, canvas, button { padding: 0; margin: 0; }
#enchilada { position: absolute; left: 0; right: 0; top: 0; bottom: 0; }
#frame { position: absolute; left: 0; right: 0; top: 0; bottom: 0; min-width: 350px; min-height: 350px; background: #ffffff }
#status1, #status2 { position: absolute; top: 10px; left: 15px; color: #000000; }
#cexport { position: absolute; bottom: 10px; right: 50px; width: 120px; padding:5px; margin: 5px 10px; background-color: #fdfdfd; border: 1px solid #cdcdcd; cursor: pointer; border-radius: 3px; font-family: Helvetica; font-size: 14px;}
#canvas { position: absolute; top: 50%; left: 50%; margin-top: -150px; margin-left: -150px; }
#error { position: absolute; top: 40%; left: 50%; width: 300px; margin-left: -150px; font-size: 20px; font-weight: bold; z-index: 1 }
#credits { position: absolute; bottom: 10px; left: 10px;}
.number { font-size: 28px }
.decomposition { font-size: 16px; padding-left: 1px; }